.bg-grad {
    background-image:
    radial-gradient(at 14% 40%, hsla(225,58%,35%,1) 0px, transparent 50%),
    radial-gradient(at 24% 15%, hsla(225,59%,35%,1) 0px, transparent 50%),
    radial-gradient(at 37% 59%, hsla(53,64%,41%,1) 0px, transparent 50%),
    radial-gradient(at 82% 58%, hsla(209,100%,50%,1) 0px, transparent 50%),
    radial-gradient(at 72% 27%, hsla(209,100%,50%,1) 0px, transparent 50%);
}

@font-face {
    font-family: 'olneylight';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../font/olney_light.woff2') format('woff2');
    src: url('../font/olney_light.woff') format('woff');
}

#bgVideo {
    box-shadow: 0px -20px 30px 20px #171717 inset;
}

#heroWrapper {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}