<!DOCTYPE html>
<html lang="tr" class="overflow-x-hidden scroll-smooth">

<head>
  <meta charset="UTF-8" />
  {% load static %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon-16x16.png" %}">
  <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
  <link rel="manifest" href="{% static "cfg/site.webmanifest" %}">
  <link rel="mask-icon" href="{% static "img/safari-pinned-tab.svg" %}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#006fe2">
  <meta name="msapplication-config" content="{% static "cfg/browserconfig.xml" %}">
  <meta name="theme-color" content="#181818" />
  <meta name="description" content="BİZ2024 TÜBİT" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
  <script defer src="{% static "js/countdown.js" %}"></script>
  <script defer src="{% static "js/uparrow.js" %}"></script>
  <title>BİZ2024</title>
  <script>
    let vh = window.innerHeight * 0.01;
    document.documentElement.style.setProperty('--vh', `${vh}px`);
  </script>
</head>

<body class="relative overflow-x-hidden text-white bg-neutral-900 font-['olneylight']">
  <button id="to-top-button" onclick="goToTop()" title="En üste git"
    class="fixed z-40 hidden w-16 h-16 text-3xl text-white border-0 bottom-8 right-8 bg-[url(../img/website/altigen_koyu.svg)] hover:bg-[url(../img/website/altigen_acik.svg)] bg-cover transition-all duration-300">
    <div class="flex items-center justify-center w-full h-full">
      <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
        viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 15 7-7 7 7" />
      </svg>
    </div>
  </button>
  <div id="heroWrapper" class="flex flex-col">
    <div id="bgVideo" class="absolute top-0 left-0 w-full h-[100vh]">
      <video autoplay muted loop playsinline class="absolute top-0 left-0 object-cover w-full h-full -z-10">
        <source src="{% static "video/bg.webm" %}" type="video/webm">
      </video>
    </div>
    <div class="bg-grad w-[150%] h-screen absolute -z-20"></div>
    <nav class="relative flex flex-col bg-zinc-500 bg-opacity-5">
      <div class="flex items-center justify-between px-8 py-6">
        <div class="w-[116px] h-full">
          <img class="absolute top-6" src="{% static "img/website/biz-logo.svg" %}" alt="biz24logo">
        </div>
        <div class="hidden lg:block">
          <ul>
            <li class="inline mx-5 transition-all xl:mx-8 hover:text-yellow-200">
              <a class="xl:text-xl" href="#duyurular">Duyurular</a>
            </li>
            <li class="inline mx-5 transition-all xl:mx-8 hover:text-yellow-200">
              <a class="xl:text-xl" href="#etkinlikler">Önceki Etkinlikler</a>
            </li>
            <li class="inline mx-5 transition-all xl:mx-8 hover:text-yellow-200">
              <a class="xl:text-xl" href="#biz24">Hakkında</a>
            </li>
            <li class="inline mx-5 transition-all xl:mx-8 hover:text-yellow-200">
              <a class="xl:text-xl" href="#ekibimiz">Ekip</a>
            </li>
            <li class="inline mx-5 transition-all xl:mx-8 hover:text-yellow-200">
              <a class="xl:text-xl" href="#sponsorlar">Sponsorlar</a>
            </li>
          </ul>
        </div>
        <a class="hidden shrink-0 lg:block" href="https://tubit.trakya.edu.tr" target="_blank" rel="noopener noreferrer" title="TÜBİT">
          <img src="{% static "img/website/tubit-logo.svg" %}" alt="TÜBİT" class="w-[100px] h-[60px]">
        </a>
        <button class="lg:hidden flex items-center justify-center w-[60px] h-[60px]" data-drawer-target="hamburger-menu"
          data-drawer-show="hamburger-menu" data-drawer-placement="top" data-drawer-body-scrolling="false" type="button"
          aria-label="Menü Butonu" aria-controls="hamburger-menu">
          <svg class="w-8 h-8 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
          </svg>
        </button>
      </div>
      <div id="hamburger-menu"
        class="fixed top-0 left-0 right-0 z-40 w-full h-full transition-transform -translate-y-full bg-blue-950">
        <div class="flex flex-col h-full">
          <div class="flex items-center justify-between px-8 py-6">
            <div class="w-[116px] h-full">
              <img class="absolute top-6" src="{% static "img/website/biz-logo.svg" %}" alt="biz24logo">
            </div>
            <button class="lg:hidden flex items-center justify-center w-[60px] h-[60px]"
              data-drawer-hide="hamburger-menu" type="button" aria-label="Menüyü Kapat" aria-controls="hamburger-menu">
              <svg class="w-8 h-8 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M6 18 18 6m0 12L6 6" />
              </svg>
            </button>
          </div>
          <ul class="flex flex-col items-center py-12 text-xl justify-evenly grow">
            <li class="w-[60vw] mb-10 grow">
              <a aria-controls="hamburger-menu" data-drawer-hide="hamburger-menu"
                class="flex items-center justify-center w-full h-full" href="#duyurular"><span>Duyurular</span></a>
            </li>
            <li class="w-[60vw] mb-10 grow">
              <a aria-controls="hamburger-menu" data-drawer-hide="hamburger-menu"
                class="flex items-center justify-center w-full h-full" href="#etkinlikler"><span>Önceki
                  Etkinlikler</span></a>
            </li>
            <li class="w-[60vw] mb-10 grow">
              <a aria-controls="hamburger-menu" data-drawer-hide="hamburger-menu"
                class="flex items-center justify-center w-full h-full" href="#biz24"><span>Hakkında</span></a>
            </li>
            <li class="w-[60vw] mb-10 grow">
              <a aria-controls="hamburger-menu" data-drawer-hide="hamburger-menu"
                class="flex items-center justify-center w-full h-full" href="#ekibimiz"><span>Ekip</span></a>
            </li>
            <li class="w-[60vw] grow">
              <a aria-controls="hamburger-menu" data-drawer-hide="hamburger-menu"
                class="flex items-center justify-center w-full h-full" href="#sponsorlar"><span>Sponsorlar</span></a>
            </li>
          </ul>
          <div class="flex justify-center mb-12">
            <a class="shrink-0" href="https://tubit.trakya.edu.tr" target="_blank" rel="noopener noreferrer" title="TÜBİT">
              <img src="{% static "img/website/tubit-logo.svg" %}" alt="TÜBİT" class="w-[100px] h-[60px]">
            </a>
          </div>
        </div>
      </div>
    </nav>
    <section class="relative flex flex-col items-center justify-around grow">
      <div class="flex flex-col items-center">
        <img src="{% static "img/website/biz-logo.svg" %}" alt="BİZ24 Logo" class="h-[100px] mb-[60px]">
        <div class="flex mb-5">
          <svg class="w-8 h-8 text-white md:w-12 md:h-12" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd"
              d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"
              clip-rule="evenodd" />
          </svg>
          <h1 class="ml-2 mr-5 text-2xl sm:text-3xl md:text-5xl">14.05.2024</h1>
          <svg class="w-8 h-8 text-white md:w-12 md:h-12" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd"
              d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z"
              clip-rule="evenodd" />
          </svg>
          <h1 class="ml-2 text-2xl sm:text-3xl md:text-5xl">10.00</h1>
        </div>
        <h1 class="text-3xl md:text-5xl" id="eventCountdownTitle">Etkinliğe Kalan</h1>
        <div class="flex flex-row items-center px-4" id="eventCountdown">
          <div class="flex flex-col">
            <p class="text-5xl text-center sm:text-6xl md:text-8xl md:mr-2" id="eventCountdownDay">00</p>
            <p class="text-xs text-center md:text-2xl">Gün</p>
          </div>
          <p class="mx-2 text-3xl text-center sm:text-4xl md:text-6xl md:mx-4">:</p>
          <div class="flex flex-col">
            <p class="text-5xl text-center sm:text-6xl md:text-8xl md:mr-2" id="eventCountdownHour">00</p>
            <p class="text-xs text-center md:text-2xl">Saat</p>
          </div>
          <p class="mx-2 text-3xl text-center sm:text-4xl md:text-6xl md:mx-4">:</p>
          <div class="flex flex-col">
            <p class="text-5xl text-center sm:text-6xl md:text-8xl md:mr-2" id="eventCountdownMinute">00</p>
            <p class="text-xs text-center md:text-2xl">Dakika</p>
          </div>
          <p class="mx-2 text-3xl text-center sm:text-4xl md:text-6xl md:mx-4">:</p>
          <div class="flex flex-col">
            <p class="text-5xl text-center sm:text-6xl md:text-8xl md:mr-2" id="eventCountdownSecond">00</p>
            <p class="text-xs text-center md:text-2xl">Saniye</p>
          </div>
        </div>
      </div>
      <a class="relative flex flex-col items-center transition duration-200 ease-in-out justify-evenly" href="#duyurular"
        title="Sayfanın içeriğine git" id="scroll-down-indicator">
        <p class="mb-4 text-sm lg:invisible animate-pulse">Daha fazlası için kaydır</p>
        <svg class="h-auto w-9 animate-bounce" width="114.42" height="61.12" viewBox="0 0 30.27 16.17" xml:space="preserve"
          xmlns="http://www.w3.org/2000/svg">
          <path
            style="fill:none;stroke:#fff;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
            d="m92.12 151.59 14.1 13.98 14.17-14.17" transform="translate(-91.12 -150.4)" />
        </svg>
      </a>
    </section>
  </div>
  <div class="flex flex-col mx-auto my-0 max-w-screen-2xl">
  <section class="mt-24 lg:mt-52 md:mx-12" id="duyurular">
    <h1 class="pb-10 text-4xl font-bold text-center md:text-5xl">Duyurular</h1>
    <div class="relative" data-carousel="slide">
      <div class="relative h-[360px] md:h-[432px] lg:h-[576px] xl:[720px] overflow-hidden rounded-lg">
        <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
          <img src="{% static "img/announcements/d1.png" %}"
            class="absolute block w-full h-auto -translate-x-1/2 -translate-y-1/2 sm:w-auto sm:h-full top-1/2 left-1/2" alt="...">
        </div>
        <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
          <img src="{% static "img/announcements/d2.png" %}"
            class="absolute block w-full h-auto -translate-x-1/2 -translate-y-1/2 sm:w-auto sm:h-full top-1/2 left-1/2" alt="...">
        </div>
      </div>
      <div class="absolute z-30 flex space-x-3 -translate-x-1/2 rtl:space-x-reverse bottom-5 left-1/2">
        <button type="button" class="w-3 h-3 rounded-full" aria-label="karosel indeks butonu"
          data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-label="karosel indeks butonu"
          data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-label="karosel indeks butonu"
          data-carousel-slide-to="2"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-label="karosel indeks butonu"
          data-carousel-slide-to="3"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-label="karosel indeks butonu"
          data-carousel-slide-to="4"></button>
      </div>
      <button type="button"
        class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer start-0 group focus:outline-none"
        data-carousel-prev>
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
          <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5 1 1 5l4 4" />
          </svg>
          <span class="sr-only">Önceki</span>
        </span>
      </button>
      <button type="button"
        class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer end-0 group focus:outline-none"
        data-carousel-next>
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
          <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 9 4-4-4-4" />
          </svg>
          <span class="sr-only">Sonraki</span>
        </span>
      </button>
    </div>
  </section>
  <section class="mt-24 lg:mt-52" id="etkinlikler">
    <h1 class="px-10 pb-10 text-4xl font-bold text-center md:text-5xl text-wrap md:px-0">Önceki Etkinliklerimiz</h1>
    <div class="flex flex-wrap items-center justify-evenly">
      <div class="m-5 lg:transition lg:ease-in lg:duration-200 lg:hover:scale-125">
        <img src="{% static 'img/old-events/dgyz24.webp' %}" alt="Dijital Genç Yapay Zeka Ekosistemi Tanışma Toplantısı 2024" class="w-[300px]">
      </div>
      <div class="m-5 lg:transition lg:ease-in lg:duration-200 lg:hover:scale-125">
        <img src="{% static 'img/old-events/yg24.webp' %}" alt="Yazılımcılıktan Girişimciliğe 2024" class="w-[300px]">
      </div>
      <div class="m-5 lg:transition lg:ease-in lg:duration-200 lg:hover:scale-125">
        <img src="{% static 'img/old-events/biz19.webp' %}" alt="Bilişim ve İnovasyon Zirvesi 2019" class="w-[300px]">
      </div>
      <div class="m-5 lg:transition lg:ease-in lg:duration-200 lg:hover:scale-125">
        <img src="{% static 'img/old-events/k18.webp' %}" alt="Kariyer Günleri 2018" class="w-[300px]">
      </div>
      <div class="m-5 lg:transition lg:ease-in lg:duration-200 lg:hover:scale-125">
        <img src="{% static 'img/old-events/biz18.webp' %}" alt="Bilişim ve İnovasyon Zirvesi 2018" class="w-[300px]">
      </div>
      <div class="m-5 lg:transition lg:ease-in lg:duration-200 lg:hover:scale-125">
        <img src="{% static 'img/old-events/biz17.webp' %}" alt="Bilişim ve İnovasyon Zirvesi 2017" class="w-[300px]">
      </div>
      <div class="m-5 lg:transition lg:ease-in lg:duration-200 lg:hover:scale-125">
        <img src="{% static 'img/old-events/biz15.webp' %}" alt="Bilişim ve İnovasyon Zirvesi 2015" class="w-[300px]">
      </div>
    </div>
  </section>
  <section class="mt-24 lg:mt-52" id="biz24">
    <h1 class="px-10 pb-10 text-4xl text-center md:text-5xl text-wrap">Bilişim ve İnovasyon Zirvesi 2024</h1>
    <div class="text-sm lg:text-xl px-14">
      <p class="text-xl font-light text-center lg:text-2xl font-orig-sans">Bilişim dünyasının öncü isimlerini bir araya getirmeye hazır mısınız?</p><br />
      <p>Tübit Kulübü olarak düzenlediğimiz BİZ24 etkinliği, bilişim inovasyonunun kalbinde üç gün boyunca sizlerle olacak.
      <strong>14-15-16 Mayıs</strong> tarihlerinde gerçekleşecek zirvemizde, sektörün önde gelen yazılımcıları ilk 
      iki günü dolduracak. Üçüncü gün ise okulumuzun değerli mezunlarının katılımıyla taçlanacak.<br /><br />
      Etkinliğimiz, yarışma alanları ve proje sergileriyle dopdolu olacak. Bilişim dünyasının en yeni ve heyecan verici
      projelerini keşfetmek için bu alanları ziyaret etmeyi unutmayın. Ayrıca, konferans salonumuzda düzenlenecek
      seminerlerde, gelen katılımcılarımız bilişim dünyasındaki en güncel gelişmeleri uzmanlardan dinleme fırsatı
      bulacaklar.<br /><br />
      BİZ24 etkinliği, bilişimdeki son trendleri yakından takip etmek isteyen herkes için bir fırsat. <u>Kayıt olmayı
        unutmayın</u> ve bilişim dünyasının öncülerini bir araya getiren bu zirvede bizimle birlikte olun!
      </p>
    </div>
  </section>
  <section class="mt-24 lg:mt-52">
    <h1 class="px-10 mb-10 text-4xl font-bold text-center md:text-5xl md:px-0">Yönetim</h1>
    <div class="flex flex-wrap items-center justify-evenly">
      <div class="m-5 md:max-lg:m-10 lg:m-24">
        <img src="{% static 'img/people/murat_topaloglu.webp' %}" alt="Murat TOPALOĞLU"
          class="w-[150px] h-[150px] rounded-full mb-4 outline outline-neutral-900 outline-width-4 outline-offset-[-1px]">
        <p class="text-center max-w-[150px]">Murat TOPALOĞLU<br />Doç. Dr.</p>
      </div>
      <div class="m-5 md:max-lg:m-10 lg:m-24">
        <img src="{% static 'img/people/egemen_tekkanat.webp' %}" alt="Egemen TEKKANAT"
          class="w-[150px] h-[150px] rounded-full mb-4 outline outline-neutral-900 outline-width-4 outline-offset-[-1px]">
        <p class="text-center max-w-[150px]">Egemen TEKKANAT<br />Dr. Öğr. Üyesi</p>
      </div>
      <div class="m-5 md:max-lg:m-10 lg:m-24">
        <img src="{% static 'img/people/harun_ozkisi.webp' %}" alt="Harun ÖZKİŞİ"
          class="w-[150px] h-[150px] rounded-full mb-4 outline outline-neutral-900 outline-width-4 outline-offset-[-1px]">
        <p class="text-center max-w-[150px]">Harun ÖZKİŞİ<br />Dr. Öğr. Üyesi</p>
      </div>
      <div class="m-5 md:max-lg:m-10 lg:m-24">
        <img src="{% static 'img/people/onur_kara.webp' %}" alt="Onur KARA"
          class="w-[150px] h-[150px] rounded-full mb-4 outline outline-neutral-900 outline-width-4 outline-offset-[-1px]">
        <p class="text-center max-w-[150px]">Onur KARA<br />Öğr. Gör.</p>
      </div>
    </div>
  </section>
  <section class="mt-24 lg:mt-52" id="ekibimiz">
    <h1 class="px-10 mb-10 text-4xl font-bold text-center md:text-5xl md:px-0">Ekibimiz</h1>
    <div class="flex flex-wrap items-center justify-evenly">
      <div class="m-5 md:max-lg:m-10 lg:m-24">
        <img src="{% static 'img/people/arif_tolga_demirel.webp' %}" alt="Arif Tolga DEMİREL"
          class="w-[150px] h-[150px] rounded-full mb-4 outline outline-neutral-900 outline-width-4 outline-offset-[-1px]">
        <p class="text-center max-w-[150px]">Arif Tolga DEMİREL<br />Başkan</p>
      </div>
      <div class="m-5 md:max-lg:m-10 lg:m-24">
        <img src="{% static 'img/people/emirhan_narin.webp' %}" alt="Emirhan NARİN"
          class="w-[150px] h-[150px] rounded-full mb-4 outline outline-neutral-900 outline-width-4 outline-offset-[-1px]">
        <p class="text-center max-w-[150px]">Emirhan NARİN<br />Başkan Yrd.</p>
      </div>
      <div class="m-5 md:max-lg:m-10 lg:m-24">
        <img src="{% static 'img/people/caner_yildiz.webp' %}" alt="Caner YILDIZ"
          class="w-[150px] h-[150px] rounded-full mb-4 outline outline-neutral-900 outline-width-4 outline-offset-[-1px]">
        <p class="text-center max-w-[150px]">Caner YILDIZ<br />İletişim Başkanı</p>
      </div>
      <div class="m-5 md:max-lg:m-10 lg:m-24">
        <img src="{% static 'img/people/enes_pinar.webp' %}" alt="Enes PINAR"
          class="w-[150px] h-[150px] rounded-full mb-4 outline outline-neutral-900 outline-width-4 outline-offset-[-1px]">
        <p class="text-center max-w-[150px]">Enes PINAR<br />BST Akademi Başkanı</p>
      </div>
      <div class="m-5 md:max-lg:m-10 lg:m-24">
        <img src="{% static 'img/people/kaan_mutlu.webp' %}" alt="Kaan MUTLU"
          class="w-[150px] h-[150px] rounded-full mb-4 outline outline-neutral-900 outline-width-4 outline-offset-[-1px]">
        <p class="text-center max-w-[150px]">Kaan MUTLU<br />Sosyal Medya</p>
      </div>
      <div class="m-5 md:max-lg:m-10 lg:m-24">
        <img src="{% static 'img/people/mehti_boz.webp' %}" alt="Mehti BOZ"
          class="w-[150px] h-[150px] rounded-full mb-4 outline outline-neutral-900 outline-width-4 outline-offset-[-1px]">
        <p class="text-center max-w-[150px]">Mehti BOZ<br />Sunucu</p>
      </div>
      <div class="m-5 md:max-lg:m-10 lg:m-24">
        <img src="{% static 'img/people/ali_ensar_aktas.webp' %}" alt="Ali Ensar AKTAŞ"
          class="w-[150px] h-[150px] rounded-full mb-4 outline outline-neutral-900 outline-width-4 outline-offset-[-1px]">
        <p class="text-center max-w-[150px]">Ali Ensar AKTAŞ<br />Sponsorluk</p>
      </div>
      <div class="m-5 md:max-lg:m-10 lg:m-24">
        <img src="{% static 'img/people/eda_pinarbasi.webp' %}" alt="Eda PINARBAŞI"
          class="w-[150px] h-[150px] rounded-full mb-4 outline outline-neutral-900 outline-width-4 outline-offset-[-1px]">
        <p class="text-center max-w-[150px]">Eda PINARBAŞI<br />Organizasyon</p>
      </div>
      <div class="m-5 md:max-lg:m-10 lg:m-24">
        <img src="{% static 'img/people/esma_borklu.webp' %}" alt="Esma BÖRKLÜ"
          class="w-[150px] h-[150px] rounded-full mb-4 outline outline-neutral-900 outline-width-4 outline-offset-[-1px]">
        <p class="text-center max-w-[150px]">Esma BÖRKLÜ<br />Organizasyon</p>
      </div>
      <div class="m-5 md:max-lg:m-10 lg:m-24">
        <img src="{% static 'img/people/selami_ozcan.webp' %}" alt="Selami ÖZCAN"
          class="w-[150px] h-[150px] rounded-full mb-4 outline outline-neutral-900 outline-width-4 outline-offset-[-1px]">
        <p class="text-center max-w-[150px]">Selami ÖZCAN<br />Organizasyon</p>
      </div>
    </div>
  </section>
  <section class="mt-24 mb-20" id="sponsorlar">
    <h1 class="px-10 pb-10 text-4xl font-bold text-center md:text-5xl md:px-0">Sponsorlar</h1>
    <div class="flex justify-center w-full">
      <h1
        class="px-10 text-2xl text-center text-transparent bg-gradient-to-r from-purple-500 via-pink-500 to-yellow-500 bg-clip-text md:text-3xl md:px-0 w-fit">
        Ana Sponsor</h1>
    </div>
    <div class="flex flex-wrap items-center mb-8 justify-evenly">
      <img class="m-5 w-[320px]" src="{% static "img/sponsors/renkas.svg" %}" alt="renkas">
    </div>
    <h1 class="px-10 pb-10 text-2xl text-center text-yellow-400 md:text-3xl md:px-0">Altın</h1>
    <div class="flex flex-wrap items-center mb-8 justify-evenly">
      <img class="m-5" src="{% static "img/website/tubit-logo.svg" %}" alt="TÜBİT">
    </div>
    <h1 class="px-10 pb-10 text-2xl text-center text-zinc-400 md:text-3xl md:px-0">Gümüş</h1>
    <div class="flex flex-wrap items-center mb-8 justify-evenly">
      <img class="m-5 w-[320px]" src="{% static "img/sponsors/evrenun.svg" %}" alt="evren un">
    </div>
    <h1 class="px-10 pb-10 text-2xl text-center text-orange-300 md:text-3xl md:px-0">Bronz</h1>
    <div class="flex flex-wrap items-center mb-8 justify-evenly">
      <img class="m-5 w-[320px]" src="{% static "img/sponsors/canmedikal.svg" %}" alt="can medikal">
    </div>
    <h1 class="px-10 pb-10 text-2xl text-center text-white md:text-3xl md:px-0">Yemek Sponsorları</h1>
    <div class="flex flex-wrap items-center mb-8 justify-evenly">
      <img class="m-5 w-[320px]" src="{% static "img/sponsors/golet.webp" %}" alt="gölet">
    </div>
  </section>
  </div>
  <footer class="w-screen py-6 h-96 md:h-72 bg-footer">
    <div class="flex flex-wrap items-center justify-around">
      <div class="mt-5 mx-9">
        <div class="flex justify-around">
          <a class="m-3" href="https://twitter.com/kycubyo_tubit" title="TÜBİT Twitter sayfasını ziyaret et">
            <img class="w-12 h-12" src="{% static "img/website/socials/x.svg" %}" alt="X">
          </a>
          <a class="m-3" href="https://www.instagram.com/tubit.tu/" title="TÜBİT Instagram sayfasını ziyaret et">
            <img class="w-12 h-12" src="{% static "img/website/socials/instagram.svg" %}" alt="Instagram">
          </a>
          <a class="m-3" href="https://www.linkedin.com/company/t%C3%BCbi%CC%87t/"
            title="TÜBİT LinkedIn sayfasını ziyaret et">
            <img class="w-12 h-12" src="{% static "img/website/socials/linkedin.svg" %}" alt="LinkedIn">
          </a>
          <a class="m-3" href="https://www.youtube.com/@kycubyo_tubit" title="TÜBİT Youtube sayfasını ziyaret et">
            <img class="w-12 h-12" src="{% static "img/website/socials/youtube.svg" %}" alt="Youtube">
          </a>
        </div>
      </div>
      <div class="flex items-center mt-5 justify-evenly mx-9">
        <a href="https://tubit.trakya.edu.tr" target="_blank" rel="noopener noreferrer" title="TUBİT">
          <img class="w-[116px] h-[66px] m-5" src="{% static "img/website/tubit-logo.svg" %}" alt="TÜBİT">
        </a>
        <div class="w-px bg-white h-9"></div>
        <a href="https://www.trakya.edu.tr/" target="_blank" rel="noopener noreferrer" title="Trakya Üniversitesi">
          <img class="w-[100px] h-[100px] m-5" src="{% static "img/website/trakya-logo.svg" %}"
          alt="Trakya Üniversitesi">
        </a>
      </div>
    </div>
    <p class="mt-10 text-center">Tüm Hakları Saklıdır. ©TÜBİT 2024</p>
  </footer>
  <script src="{% static "js/carousel.js" %}"></script>
  <script src="{% static "js/drawer.js" %}"></script>
</body>

</html>